<wm-page data-ng-controller="FilterScenarioPageController" pagetitle="Filter Scenario" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livefilter name="AllTypes2Filter1" title="Filter All types2" dataset="bind:Variables.Createpostgres24AllTypes2Data.dataSet" captionalign="left" captionposition="top">
                <wm-layoutgrid columns="3" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                            <wm-filter-field name="intCol" field="intCol" displayname="Int Col" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" inputtype="number" key="intCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                            <wm-filter-field name="shortCol" field="shortCol" displayname="Short Col" widget="number" is-range="false" type="short" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="shortCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                            <wm-filter-field name="floatCol" field="floatCol" displayname="Float Col" widget="number" is-range="false" type="double" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="floatCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                            <wm-filter-field name="stringCol" field="stringCol" displayname="String Col" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="stringCol" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="4" name="gridcolumn5">
                            <wm-filter-field name="doubleCol" field="doubleCol" displayname="Double Col" widget="number" is-range="false" type="big_decimal" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="doubleCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn1" columnwidth="4">
                            <wm-filter-field name="bigintegerCol" field="bigintegerCol" related-field="Biginteger Col" widget="number" is-range="false" show="true" type="long" is-primary-key="false" generator="assigned" matchmode="start" inputtype="number"
                                displayname="Biginteger Col" key="bigintegerCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn2" columnwidth="4">
                            <wm-filter-field name="bigdecimalCol" field="bigdecimalCol" related-field="Bigdecimal Col" widget="number" is-range="false" show="true" type="big_decimal" is-primary-key="false" generator="assigned" matchmode="start" inputtype="number"
                                displayname="Bigdecimal Col" key="bigdecimalCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="4">
                            <wm-filter-field name="booleanCol" field="booleanCol" related-field="Boolean Col" widget="checkbox" is-range="false" show="true" type="boolean" is-primary-key="false" generator="assigned" matchmode="start" displayname="Boolean Col"
                                key="booleanCol" placeholder=""></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn4" columnwidth="4">
                            <wm-filter-field name="dateCol" field="dateCol" related-field="Date Col" widget="date" is-range="true" show="true" type="date" is-primary-key="false" generator="assigned" matchmode="start" displayname="Date Col" key="dateCol" placeholder="Select date"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn5" columnwidth="4">
                            <wm-filter-field name="timeCol" field="timeCol" related-field="Time Col" widget="time" is-range="true" show="true" type="time" is-primary-key="false" generator="assigned" matchmode="start" displayname="Time Col" key="timeCol" placeholder="Select time"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn6" columnwidth="4">
                            <wm-filter-field name="timestampCol" field="timestampCol" related-field="Timestamp Col" widget="timestamp" is-range="true" show="true" type="timestamp" is-primary-key="false" generator="assigned" matchmode="start" displayname="Timestamp Col"
                                key="timestampCol" placeholder="Select date time"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn7" columnwidth="4">
                            <wm-filter-field name="characterCol" field="characterCol" related-field="Character Col" widget="text" is-range="false" show="true" type="string" is-primary-key="false" generator="assigned" matchmode="start" inputtype="text" displayname="Character Col"
                                key="characterCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn8" columnwidth="4">
                            <wm-filter-field name="column19" field="column19" related-field="Column19" widget="number" is-range="false" show="true" type="integer" is-primary-key="false" generator="assigned" matchmode="start" inputtype="number" displayname="Column19"
                                key="column19" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn9" columnwidth="4">
                            <wm-filter-field name="longCol" field="longCol" related-field="Long Col" widget="number" is-range="false" show="true" type="long" is-primary-key="false" generator="assigned" matchmode="start" inputtype="number" displayname="Long Col"
                                key="longCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn10" columnwidth="4">
                            <wm-filter-field name="byteCol" field="byteCol" related-field="Byte Col" widget="number" is-range="false" show="true" type="short" is-primary-key="false" generator="assigned" matchmode="start" inputtype="number" displayname="Byte Col"
                                key="byteCol" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn11" columnwidth="4">
                            <wm-filter-field name="datetimeCol" field="datetimeCol" related-field="Datetime Col" widget="datetime" is-range="true" show="true" type="datetime" is-primary-key="false" generator="assigned" matchmode="start" displayname="Datetime Col"
                                key="datetimeCol" placeholder="Select date time"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action>
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action>
            </wm-livefilter>
            <wm-table editmode="inline" name="Table1" title="" dataset="bind:Widgets.AllTypes2Filter1.result" navigation="Basic">
                <wm-table-column binding="intCol" caption="Int Col" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="stringCol" caption="String Col" edit-widget-type="text" type="string" generator="assigned" defaultvalue="test" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="shortCol" caption="Short Col" edit-widget-type="number" type="short" generator="assigned" defaultvalue="2434" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="floatCol" caption="Float Col" edit-widget-type="number" type="double" generator="assigned" defaultvalue="8.99" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="doubleCol" caption="Double Col" edit-widget-type="number" type="big_decimal" generator="assigned" defaultvalue="343" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="bigintegerCol" caption="Biginteger Col" edit-widget-type="number" type="long" generator="assigned" defaultvalue="34535334" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="bigdecimalCol" caption="Bigdecimal Col" edit-widget-type="number" type="big_decimal" generator="assigned" defaultvalue="343435.3453" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="clobCol" caption="Clob Col" edit-widget-type="text" type="text" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="booleanCol" caption="Boolean Col" edit-widget-type="checkbox" type="boolean" generator="assigned" defaultvalue="true" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="dateCol" caption="Date Col" edit-widget-type="date" type="date" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="blobCol" caption="Blob Col" type="byte" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="byteCol" caption="Byte Col" type="integer" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="characterCol" caption="Character Col" type="string" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="column19" caption="Column19" type="integer" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="datetimeCol" caption="Datetime Col" type="datetime" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="longCol" caption="Long Col" type="long" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="textCol" caption="Text Col" type="string" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="timeCol" caption="Time Col" type="time" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="timestampCol" caption="Timestamp Col" type="timestamp" show="true" readonly="undefined"></wm-table-column>
                <wm-table-column binding="rowOperations" caption="Actions" width="120px" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>