<wm-page data-ng-controller="UseProxyPageController" pagetitle="Use Proxy" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="Variables.GetById_API.invoke()"></wm-button>
            <wm-label padding="unset 0.5em" name="label1" caption="bind:Variables.GetById_API.dataSet"></wm-label>
            <wm-livetable formlayout="dialog" name="T1LiveTable1">
                <wm-table gridfirstrowselect="true" editmode="dialog" name="T1Table1" title="T1 List" dataset="bind:Variables.TestdefaultvaluesT1Data.dataSet" navigation="Basic">
                    <wm-table-column binding="integerCol" caption="Integer Col" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-table-column>
                    <wm-table-column binding="ts" caption="Ts" generator="assigned" pcdisplay="true" mobiledisplay="true" type="timestamp" readonly="true"></wm-table-column>
                    <wm-table-column binding="column2" caption="Column2" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="id" caption="Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
                </wm-table>
                <wm-liveform errormessage="" title="T1 Info" formlayout="dialog" iconclass="wi wi-edit" name="T1LiveForm1" dataset="bind:Variables.TestdefaultvaluesT1Data.dataSet" captionalign="left" captionposition="top">
                    <wm-layoutgrid columns="3" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                                <wm-form-field name="integerCol" displayname="Integer Col" required="true" show="true" generator="assigned" primary-key="true" key="integerCol" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                                <wm-form-field name="column2" displayname="Column2" required="false" show="true" generator="assigned" primary-key="false" key="column2" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                                <wm-form-field name="id" displayname="Id" required="true" show="true" generator="assigned" primary-key="false" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>