<wm-page data-ng-controller="ReferencedEnititesPageController" pagetitle="Referenced Enitites" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livefilter name="EmployeeFilter1" title="Filter Employee" dataset="bind:Variables.HrdbEmployeeData.dataSet" captionalign="left" captionposition="top">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-filter-field name="empId" field="empId" displayname="Emp Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" inputtype="number" key="empId" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-filter-field name="department" field="department" displayname="Department" widget="select" lookup-type="Department" lookup-field="deptCode" is-related="true" related-entity-name="Department" is-range="false" type="string" is-primary-key="false"
                                generator="assigned" show="true" inputtype="number" key="department" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-filter-field name="employeeByManagerId" field="employeeByManagerId" displayname="Employee By Manager Id" widget="number" lookup-type="Employee" lookup-field="empId" is-related="true" related-entity-name="Employee" is-range="false"
                                type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="employeeByManagerId" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-filter-field name="firstname" field="firstname" displayname="Firstname" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="firstname" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-filter-field name="lastname" field="lastname" displayname="Lastname" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="lastname" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-filter-field name="street" field="street" displayname="Street" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="street" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-filter-field name="city" field="city" displayname="City" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="city" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-filter-field name="state" field="state" displayname="State" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="state" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-filter-field name="zip" field="zip" displayname="Zip" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="zip" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-filter-field name="birthdate" field="birthdate" displayname="Birthdate" widget="date" is-range="false" type="date" is-primary-key="false" generator="assigned" show="true" key="birthdate" placeholder="Select date"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-filter-field name="picurl" field="picurl" displayname="Picurl" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="picurl" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-filter-field name="jobTitle" field="jobTitle" displayname="Job Title" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="jobTitle" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                            <wm-filter-field name="username" field="username" displayname="Username" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="username" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                            <wm-filter-field name="password" field="password" displayname="Password" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="password" placeholder="Enter value"
                                matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                            <wm-filter-field name="role" field="role" displayname="Role" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="role" placeholder="Enter value" matchmode="start"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                            <wm-filter-field name="tenantId" field="tenantId" displayname="Tenant Id" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="tenantId" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action>
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action>
            </wm-livefilter>
            <wm-table editmode="inline" name="Table1" title="" dataset="bind:Widgets.EmployeeFilter1.result" navigation="Basic">
                <wm-table-column binding="empId" caption="Emp Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                <wm-table-column binding="firstname" caption="Firstname" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="lastname" caption="Lastname" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="street" caption="Street" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="city" caption="City" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="state" caption="State" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="zip" caption="Zip" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="birthdate" caption="Birthdate" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date"></wm-table-column>
                <wm-table-column binding="picurl" caption="Picurl" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="jobTitle" caption="Job Title" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>